/* Global */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
  }

.subheader {
    background-color: #09264a;
    font: 40px/60px "Poppins", sans-serif;
    color: white;
    padding: 42px 5%;
}

.h1 {
    font: 600 65px/97.5px "Poppins", sans-serif
}

.h2 {
    font: 40px/60px "Poppins", sans-serif
}

.h3 {
    font: 600 24px/36px "Poppins", sans-serif;
    margin-top: 40px;
}

.h4 {
    font: 24px/36px "Poppins", sans-serif
}

.h6 {
    font: 500 14px/21px "Poppins", sans-serif;
    margin-top: 24px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Nav*/

.navbar {
    background-color: #09264a !important;
    padding-left: 5%;
}

.justify-content-end {
    padding-right: 5%;
}

.navbar-nav {
    position: absolute;
    bottom: 0;
}

.nav-logo {
    height: 80px;
 }

.nav-link {
    font: 14px/36px "Poppins", sans-serif;
    color: white !important;
}

.nav-item {
    margin-left: 24px;
}

/* Intro */

.intro {
    width: 100%;
}

.hero {
    padding-top: 106px;
    margin-left: -5%;
}

.title {
    max-height: 582px;
    margin-bottom: 20px;
    margin-left: -5%;
}

.thumb {
    max-width: 710px;
    height: auto;
    margin-bottom: 20px;
}

.design {
   width: 100%;
   max-width: 1200px;
   height: auto;
   margin: 0 auto 120px;
}


/* Research */

.research {
    margin: 120px auto;
}

/* Definition */

.definition {
    margin: 120px auto;
}

.persona_img {
    margin-bottom: 80px;
}

.problem_hmw {
    max-width: 590px;
}

/* Ideation */

.ideation {
    margin: 120px auto;
}

.matrix_img {
    margin-top: 120px;
    margin-bottom: 80px;
}

/* Prototyping */

.prototyping {
    margin: 120px auto;
}

.sketches_img {
    border: 1px lightgray solid;
}

/* Testing */

.testing {
    margin: 120px auto;
}

.test_matrix_img {
    border: 1px lightgray solid;
}

/* Iteration */

.iteration_intro {
    margin: 120px auto;
}

.iteration { 
    margin: 0 auto 120px;
}

.iteration_img {
    margin: 60px auto;
}

/* Conclusion */

.prototype {
    margin: 80px auto 120px;
    max-width: 800px;
    max-height: 900px;
}

.conclusion {
    margin: 120px auto;
}

.forward {
    margin-top: 120px;
}

.conclusion-text {
    margin: 0 auto 120px;
}